{% extends 'base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block titulo %}Inicio{% endblock %}

{% block conteudo %}
 <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">

    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Sobre o projeto</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">É composto de um sistema para o ensino-aprendizagem de Física, que poderá ser utilizado por docentes e discentes do Ensino Médio.</p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        </div>
        
        <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Questões</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">10</dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Niveis de dificuldade</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">3</dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Aprendizado</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">Infinito</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="font-bold tracking-tight text-gray-900 sm:text-4xl">Quem somos nós</h2>
        <p class="mt-6 text-lg text-gray-600">Um grupo de quatro estudantes da Universidade Tecnológica Federal do Paraná </p>
      </div>
      <ul role="list" class="grid gap-x-12 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://recreio.uol.com.br/media/uploads/animacoes/naruto_uzumaki_capa.jpg" alt="Mateus">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Mateus Luz Francischini Bonardi</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Desenvolvedor</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://s.aficionados.com.br/imagens/naruto-3-0.jpg" alt="JC">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">João Claudio Silva</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Desenvolvedor</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://revolucaonerd.com/wordpress/wp-content/files/revolucaonerd.com/2022/12/rock-lee.webp" alt="JC">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Rafael Duarte Daltio</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Desenvolvedor</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://pbs.twimg.com/media/EJggkH-XUAAyum7.jpg" alt="JC">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Eric Yuiti Kimura</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Desenvolvedor</p>
            </div>
          </div>
        </li>
  
      </ul>
    </div>
  </div>
  
{% endblock %}