.caixa_questao{
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: lightgrey;
    margin: 0 5px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 20px 20px;
}

.caixa_questao:hover{
    background-color: blue;
    user-select: none;
    cursor: pointer;
}

#filtro{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: .1em;
    position:fixed;
    top: 0;
    right: 0;
}

#botao_filtro{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 4px;
    margin-right: 9px;
}

#opcoes_filtro{
    display: none;
    flex-direction: column;
    border: 1px solid black;
    text-align: right;
    background-color: white;
    font-weight: bold;
}
