<!-- Código HTML base para todas as páginas -->

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <title>{% block titulo %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
    <!-- Scripts e estilos de CDNs -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% block head %}{% endblock %}
</head>

<body>

    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex-shrink-0">
                    <img class="h-8 w-auto" src="https://www.utfpr.edu.br/icones/cabecalho/logo-utfpr/@@images/efcf9caf-6d29-4c24-8266-0b7366ea3a40.png" alt="UTFPR">
                </div>
                <div class="hidden sm:block">
                        <div class="flex space-x-4 items-center">
                            <a href="{{ url_for('index') }}" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Início</a>

                            {% if not session.logged_in %}
                                <a href="{{ url_for('login') }}" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Login</a>
                                <a href="{{ url_for('registro') }}" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Criar conta</a>
                            {% else %}
                                <a href="{{ url_for('questoes') }}" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Questões</a>
                                <a href="{{ url_for('perfil') }}" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Meu perfil</a>
                                <form class="text-white hover:bg-red-700 hover:text-red rounded-md px-3 py-2 text-sm font-medium" action="/logout/endpoint/" method="post">
                                    <input type="submit" value="Logout">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block conteudo %}{% endblock %}

</body>

</html>
